.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.quesionair.bg-background {
  background-color: #c7cedb;
  padding: 35px 0;
  color: #000;
}

.buttonQuesion button {
  background-color: #28a4f5;
  border: 0;
  padding: 12px;
  font-family: kanit;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.block-quesion {
  margin: 25px 0;
  border-radius: 6px;
  background-color: #fff;
  padding: 25px 45px;
}

.radioButton label.b-radio.radio {
  margin: 6px 0;
}

.radioButton .field {
  display: flex;
  flex-direction: column;
}

.block-quesion h3 {
  margin: 20px 0;
}

.block-quesion h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.block-quesion h1 {
  font-size: 32px;
}

.color-red {
  color: red;
}

.page-subject-detail .column-left div,.page-subject-detail .column-right div {
  margin: 35px 0;
}

.title-small {
  font-size: 22px;
  color: blue;
}

.text-center {
  text-align: center;
}

.wrapper.container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.bg-index {
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg-subject {
  background-image: url('../image/bg-sub.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Footer h3 {
  font-size: 18px;
  color: #fff;
}

.Footer .wrapper .columns.text-center {
  padding: 10px 0;
}

.Footer {
  background-color: #28a4f5;
  overflow: hidden;
}

.class-year {
  margin-top: 30px;
}

.article-content h2 {
  color: #fff;
  background-color: #28a4f5;
  padding: 15px 0;
  border: 1px solid #fff;
}

ul.menu-class li {
  margin: 15px 25px;
  padding: 10px 0;
  background-color: #28a4f5;
  color: #fff;
  border: 1px solid #565656;
}

.wrapper {
  position: relative;
}

.menu-class li {
  cursor: pointer;
}

.background-header {
  background-color: #28a4f5;
  border-bottom: 1px solid #565656;
}

.questionair a {
  color: #fff;
}

.container.Header .wrapper {
  padding: 10px 0;
}

.header-logo h1 {
  color: #fff;
  font-size: 25px;
}

.subject a {
  color: #000;
  font-size: 18px;
}

.subject {
  padding: 10px 0;
}

.subject:nth-child(odd) {
  background-color: #e6e6e6;
}

.subject:nth-child(even) {
  background-color: #f7f7f7;
}

div#app {
  font-family: Kanit;
}

@media (max-width: 415px) {
  .Footer {
    padding: 0 15px;
  }
  .Footer h3 {
    font-size: 16px;
  }
}